[submodule "drucker"]
	path = drucker
	url = https://github.com/drucker/drucker.git
	branch = v0.3.0
[submodule "drucker-grpc-proto"]
	path = drucker-grpc-proto
	url = https://github.com/drucker/drucker-grpc-proto.git
	branch = v0.3.0
